<template>
  <div :class="$style.{{ camelCase componentName }}">
    <vue-grid>
      <vue-grid-row>
        <vue-grid-item fill>
          <vue-headline level="1">{{ properCase componentName }}</vue-headline>
        </vue-grid-item>
      </vue-grid-row>
    </vue-grid>
  </div>
</template>

<script lang="ts">{{#if wantVuex}}
import { registerModule } from '@/app/store';
import { {{ properCase moduleName }}Module } from '../module';
import { IPreLoad } from '@/server/isomorphic';{{/if}}
import VueGrid from '@/app/shared/components/VueGrid/VueGrid.vue';
import VueGridItem from '@/app/shared/components/VueGridItem/VueGridItem.vue';
import VueButton from '@/app/shared/components/VueButton/VueButton.vue';
import VueGridRow from '@/app/shared/components/VueGridRow/VueGridRow.vue';
import VueHeadline from '@/app/shared/components/VueHeadline/VueHeadline.vue';

export default {
  metaInfo:   {
    title: '{{ properCase componentName }}',
  },
  components: {
    VueGrid,
    VueGridItem,
    VueButton,
    VueGridRow,
    VueHeadline,
  },
  data: (): any => ({}),
  methods: {},
  computed: {},{{#if wantVuex}}
  beforeCreate() {
    registerModule('{{ camelCase moduleName }}', {{ properCase moduleName }}Module);
  },
  prefetch: (options: IPreLoad) => {
    registerModule('{{ camelCase moduleName }}', {{ properCase moduleName }}Module);

    /**
     * This is the function where you can load all the data that is needed
     * to render the page on the server and client side
     *
     * This function always returns a promise that means, if you want to
     * call a vuex action you have to return it, here is an example
     *
     * return options.store.dispatch('myAction');
     *
     * If you need to fetch data from multiple source your can also return
     * a Promise chain or a Promise.all()
     */
    return Promise.resolve();
  },{{/if}}
};
</script>

<style lang="scss" module>
@import "~@/app/shared/design-system";

.{{ camelCase componentName }} {
  margin-top: $nav-bar-height;
  padding: $space-32 0;
  min-height: 500px;
}
</style>
