<template>
  <div :class="$style.{{ camelCase componentName }}">
    <vue-grid>
      <vue-breadcrumb :items="breadCrumbItems" />

      <vue-grid-row>
        <vue-grid-item>
          <vue-headline level="1">{{ properCase componentName }}</vue-headline>
        </vue-grid-item>
      </vue-grid-row>
    </vue-grid>
  </div>
</template>

<script lang="ts">
import VueGrid from '@/components/shared/VueGrid/VueGrid.vue';
import VueBreadcrumb from '@/components/shared/VueBreadcrumb/VueBreadcrumb.vue';
import VueGridRow from '@/components/shared/VueGrid/VueGridRow/VueGridRow.vue';
import VueGridItem from '@/components/shared/VueGrid/VueGridColumn/VueGridColumn.vue';
import VueHeadline from '@/components/shared/VueHeadline/VueHeadline.vue';

export default {
  components: {
    VueGrid,
    VueBreadcrumb,
    VueGridRow,
    VueGridItem,
    VueHeadline,
  },
  data: (): any => ({}),
  computed: {
    breadCrumbItems() {
      return [
        { label: this.$t('common.home' /* Home */), href: '/' },
        { label: this.$t('common.{{ properCase componentName }}' /* {{ properCase componentName }} */), href: '/{{filePath}}/{{ dashCase componentName }}' },
      ];
    },
  },
  methods: {},
  head /* istanbul ignore next */() {
    return {
      title: '{{ properCase componentName }}',
    };
  },
};
</script>

<style lang="scss" module>
@import '~@/assets/design-system';

.{{ camelCase componentName }} {
  margin-top: $nav-bar-height;
  min-height: 500px;
}
</style>
