<template>
  <div :class="$style.{{ camelCase componentName }}">
    <vue-grid>
      <vue-breadcrumb :items="breadCrumbItems" />

      <vue-grid-row>
        <vue-grid-item>
          <vue-text appearance="h1" as="h1">{{ properCase componentName }}</vue-text>
        </vue-grid-item>
      </vue-grid-row>
    </vue-grid>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, useContext, useMeta } from '@nuxtjs/composition-api';
import VueGrid from '@/components/organisms/VueGrid/VueGrid.vue';
import VueBreadcrumb from '@/components/molecules/VueBreadcrumb/VueBreadcrumb.vue';
import VueGridRow from '@/components/organisms/VueGrid/VueGridRow/VueGridRow.vue';
import VueGridItem from '@/components/organisms/VueGrid/VueGridColumn/VueGridColumn.vue';
import VueText from '@/components/atoms/VueText/VueText.vue';

export default defineComponent({
  name: '{{ properCase componentName }}Page',
  components: {
    VueGrid,
    VueBreadcrumb,
    VueGridRow,
    VueGridItem,
    VueText,
  },
  setup() {
    useMeta({ title: '{{ properCase componentName }}' });
    const { app } = useContext();

    const breadCrumbItems = computed(() => [
      { label: app.i18n.t('common.home' /* Home */), href: '/' },
      { label: app.i18n.t('common.{{ properCase componentName }}' /* {{ properCase componentName }} */), href: '/{{filePath}}/{{ dashCase componentName }}' },
    ]);

    return {
      breadCrumbItems,
    };
  },
  head: {},
});
</script>

<style lang="scss" module>
@import '~@/assets/design-system';

.{{ camelCase componentName }} {
  margin-top: $nav-bar-height;
  min-height: 500px;
}
</style>
